.hw_newsletter {

    &__content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 36px;
    }

    &__table, &__title {
        align-self: center;
        z-index: 2;
    }
    
    &__table {
        width: 100%;
        .hw_table__field {
            max-width: 100px;
            overflow-x: hidden;
            overflow-y: hidden;

        }
    }

    &__subtitle {
        text-align: left;
        margin-bottom: -40px;
    }

    &__background {
        position: absolute;
        right: -40px;
        bottom: 0px;
        opacity: 0.9;
        z-index: 1;
        height: calc(100vH - 60px - 30px);
    }
}

