@import "../../styles/colors.scss";
@import "../../styles/text.scss";

.ihw_textbox {
    width: 100%;
    &__main {
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.33);
        border-radius: 8px;
        display: flex;
        height: 34px;
        width: 100%;
    }

    &__errors {
        padding-top: 10px;
    }

    &__error {
        display: flex;
    }

    &__icons {
        height: 20px;
        align-self: center;
        padding: 0 4px 0 8px;
        display: flex;
    }

    &__icon_pen {
        height: 20px;
        align-self: center;
    }

    &__icon_close {
        height: 13px;
        align-self: flex-end;
    }

    .ihw_textbox__icons &__icon_attention {
        height: 15px;
        align-self: flex-end;
        margin-left: -2px;
    }

    .ihw_textbox__errors &__icon_attention {
        height: 25px;
        align-self: flex-start;
        padding-right: 4px;
    }
    
    &__input, &__input:focus {
        margin-right: 6px;
        outline: none;
        border: none;
        background-color: inherit;
        color: inherit;
        width: inherit;
    }

    &__input, &__error_text {
        @include text-medium();
    }
    &__error_text {
        align-self: center;
        vertical-align: middle;
    }

    &--light {
        .ihw_textbox__main {
            background-color: $light_primary;
            color: $light_contrast;
        }
        
        .ihw_svg__fill { fill: $light_contrast; }
        .ihw_svg__stroke { stroke: $light_contrast; }
        .ihw_textbox__input::placeholder {color: $light_tertiary;}
    }

    &--light.ihw_textbox--placeholder, &--light.ihw_textbox--disabled {
        .ihw_textbox__main { 
            background-color: $light_secondary;
            color: $light_tertiary;
        }
        .ihw_svg__fill { fill: $light_tertiary !important; }
        .ihw_svg__stroke { stroke: $light_tertiary !important; }
    }

    &--light.ihw_textbox--placeholder {
        .ihw_textbox__main {
            background-color: $light_primary;
        }
    }

    &--light.ihw_textbox--errors {
        .ihw_textbox__main, .ihw_textbox__errors {
            color: $errors_primary;
        }
        .ihw_svg__fill { fill: $errors_primary; }
        .ihw_svg__stroke { stroke: $errors_primary; }
        .ihw_textbox__main {
            box-shadow: 1px 1px 4px 1px $errors_primary;
        }
    }



    &--dark {
        .ihw_textbox__main {
            background-color: $dark_primary;
            color: $light_primary;
        }
        
        .ihw_svg__fill { fill: $dark_contrast; }
        .ihw_svg__stroke { stroke: $dark_contrast; }
        .ihw_textbox__input::placeholder {color: $dark_tertiary;}
    }

    &--dark.ihw_textbox--placeholder, &--dark.ihw_textbox--disabled {
        .ihw_textbox__main { 
            background-color: $dark_secondary;
            color: $dark_tertiary;
        }
        .ihw_svg__fill { fill: $dark_tertiary; }
        .ihw_svg__stroke { stroke: $dark_tertiary; }
    }

    &--dark.ihw_textbox--placeholder {
        .ihw_textbox__main {
            background-color: $dark_primary;
        }
    }


    &--dark.ihw_textbox--errors {
        .ihw_textbox__main, .ihw_textbox__errors {
            color: $errors_primary;
        }
        .ihw_svg__fill { fill: $errors_primary; }
        .ihw_svg__stroke { stroke: $errors_primary; }
        .ihw_textbox__main {
            box-shadow: 1px 1px 4px 1px $errors_primary;
        }
    }

}