$background_light: #FFFEFD;
$background_dark: #3A3838;

$light_primary: #FFFFFF;
$light_contrast: #555353;
$light_secondary: #E3E3E3;
$light_tertiary: #CBCBCB;

$dark_primary: #292727;
$dark_contrast: #F0E6E6;
$dark_secondary: #484545;
$dark_tertiary: #625C5C;

$errors_primary: #FF8B8B;
