@font-face {
    font-family: "ADLaMDisplay";
    src: url("/public/fonts/ADLaMDisplay-Regular.ttf")
}
@font-face {
    font-family: "DynaPuff";
    src: url("/public/fonts/DynaPuff.ttf")
}
@font-face {
    font-family: "Belanosima";
    src: url("/public/fonts/Belanosima-Regular.ttf")
}
