

@mixin text-small {
    font-family: "Itim";
    font-size: 1.02rem;
}

@mixin text-medium {
    font-family: "Itim";
    font-size: 1.04rem; // 16px | 18 px | 20px
}

@mixin text-large {
    font-family: "Itim";
    font-size: 1.06rem;
}

@mixin heading-small {
    font-family: "BlackHanSans";
    font-size: 1.25rem; 
    font-weight: 900;
}

@mixin heading-medium {
    font-family: "BlackHanSans";
    font-size: 1.8rem; 
}

@mixin heading-large {
    font-family: "BlackHanSans";
    font-size: 2.0rem; // 32px | 36px | 40px
}

@mixin heading-teaser {
    font-family: "BlackHanSans";
    font-size: 2.5rem; // 40px | 36px | 40px
}