@import "../../styles/colors.scss";
@import "../../styles/text.scss";

.ihw_paragraph {
    padding: 0;
    margin: 0;
    &--large {
        @include text-small();
    }
    &--medium {
        @include text-medium();
    }
    &--small {
        @include text-large();
    }

    &--light {
        color: $light_contrast;
    }
    &--dark {
        color: $dark_contrast;
    }
}