@import "../../styles/colors.scss";
@import "../../styles/text.scss";

.ihw_checkbox {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 4px;
    &__icon {
        transform: scale(0.7);
        position: absolute;
        top: 6px;
        left: 6px;
    }
    &__input {
        appearance: none;
        outline: none;
        border: none;
        width: 34px;
        height: 34px;
        &::before {
            cursor: pointer;
            display: block;
            content: " ";
            background-color: red;
            border-radius: 6px;
            width: 34px;
            height: 34px;
            box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.33);
        }
    }
    &__label {
        @include text-medium();
        align-self: center;
        padding-left: 4px;
    }

    &--disabled {
       .ihw_checkbox__input::before { cursor: default; }
    }
    
    &--light {
        .ihw_checkbox__label { color: $light_contrast; }
        .ihw_checkbox__input::before { background-color: $light_primary ;}
        .ihw_checkbox__icon .ihw_svg__fill { fill: $light_contrast}
    }

    &--light.ihw_checkbox--disabled  {
        .ihw_checkbox__label { color: $light_tertiary; }
        .ihw_checkbox__input::before { background-color: $light_secondary;}
        .ihw_checkbox__icon .ihw_svg__fill { fill: $light_secondary}
    }

    &--dark {
        .ihw_checkbox__label { color: $dark_contrast; }
        .ihw_checkbox__input::before { background-color: $dark_primary ;}
        .ihw_checkbox__icon .ihw_svg__fill { fill: $dark_contrast}
    }
    &--dark.ihw_checkbox--disabled {
        .ihw_checkbox__label { color: $dark_tertiary; }
        .ihw_checkbox__input::before { background-color: $dark_secondary;}
        .ihw_checkbox__icon .ihw_svg__fill { fill: $dark_secondary}
    }
}