@import "../../styles/colors.scss";
@import "../../styles/text.scss";

.ihw_button {
    width: 100%;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.33);
    outline: none;
    border: none;
    height: 34px;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
    @include text-medium();

    &--disabled {
        cursor: default;
    }

    &--light {
        background-color: $light_primary;
        color: $light_contrast;
    }

    &--light.ihw_button--disabled {
        background-color:$light_secondary;
        color: $light_tertiary;
    }

    &--dark {
        background-color: $dark_primary;
        color: $dark_contrast;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.50);
    }

    &--dark.ihw_button--disabled {
        background-color:$dark_secondary;
        color: $dark_tertiary;
    }
}