@import "../../styles/colors.scss";
@import "../../styles/text.scss";

.ihw_heading {
    padding: 0;
    margin: 0;
    &--teaser {
        @include heading-teaser();
    }
    &--large {
        @include heading-large();
    }
    &--medium {
        @include heading-medium();
    }
    &--small {
        @include heading-small();
    }

    &--light {
        color: $light_contrast;
    }
    &--dark {
        color: $dark_contrast;
    }
}