.hw_projects {
    &__flex {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        margin-top: 10px;
        
        .hw_button {
            width: 300px;
        }
    }
    &__map {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .hw_heading {
            text-align: left;
        }
    }
    &__projecttitle {
        align-items: top;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}