$light_primary: rgb(250, 250, 250);
$dark_primary: rgb(56, 56, 56);

.ihw_svg {
    &--light {
        .ihw_svg__fill {
            fill: $dark_primary;
        }
        .ihw_svg__stroke {
            stroke: $dark_primary;
        }
    }
    &--dark {
        .ihw_svg__fill {
            fill: $light_primary;
        }
        .ihw_svg__stroke {
            stroke: $light_primary;
        }
    }
}