.hw_project {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    &__milestones {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    &__milestone {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .hw_heading--medium {
        text-align: left;
    }

    &__flex {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;

        .hw_button {
            width: 50%;
        }
        .hw_textbox  {
            width: calc(100% - 200px);
        }
        .hw_paragraph {
            width: 200px;
        }
    }
}