@import "../../styles/colors.scss";
@import "../../styles/text.scss";

.ihw_link {
    text-decoration: underline;
    @include text-medium();

    &--light {
        color: $light_contrast;
    }
    &--dark {
        color: $dark_contrast;
    }
    &--internal {

    }
    &--external {

    }
    &--active {

    }
}