.hw_clocking {
    &__content {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 36px;
    }
    &__background {
        position: absolute;
        right: -40px;
        bottom: 0px;
        opacity: 0.9;
        z-index: 1;
        height: calc(100vH - 60px - 30px);
    }
}

