.hw_clocking {
    &__clockings {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__clocking {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    img {
        position: fixed;
        width: 50%;
        bottom: 0;
        right: 40px;
    }
}