.ihw_test {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media only screen and (max-width: 530px) {
        padding-top: 20px;
    }
    :first-child {
        //text-align: center;
    }
}